<!DOCTYPE html>
<html>

<head>
    <title>
        Create an HTML button that
        acts like a link
    </title>

    <!-- Style to create button -->
    <style>
		.one {
			background-color: white;
			border: 2px solid black;
			color: green;
			padding: 5px 10px;
			text-align: center;
			display: inline-block;
			font-size: 20px;
			margin: 10px 30px;
			cursor: pointer;
		}
	</style>
</head>

<body>
<h1>GeeksforGeeks</h1>

<!-- Adding button inside the link tag -->
<a href="http://www.localhost:${url}" rel="link"  target="_blank" data-saferedirecturl="http://www.localhost:8000"/>
<button class="one">
        Verify Account !!
    </button>
</a>
</body>
</html>
